.aboutPage{
    position: relative;
}
.aboutPage img{
    height: 80vh;
    width: 100%;
    padding: 0rem 5rem;
    padding-top: 135px;
    object-fit: cover;
}
.Overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #000;
    opacity: 0.4;
}

.about_main{
    margin: 90px auto;

}
.about_main img{
    height: 550px;
    object-fit: cover;
}
.about_main h6{
    font-size: 20px;
    font-weight: 600;
    color: var(--main) !important;
}
.about_main h5{
    font-size: 50px;
    font-weight: 600;
    margin: 15px auto;
}